body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #fffaf7;
}

/* NAVBAR */
.topbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #2d1e1a;
  color: white;
}

.topbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

/* BANNER */
.banner {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#f8d7cd, #fff);
}

.banner-text {
  text-align: center;
}

/* BUTTON */
.btn {
  background: #c97b63;
  color: white;
  padding: 12px 25px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

/* PRODUCTS */
.product-list {
  display: flex;
  gap: 20px;
  padding: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: white;
  padding: 20px;
  width: 200px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card.small {
  width: 150px;
}

/* CART */
.cart-page {
  display: flex;
  padding: 30px;
  gap: 30px;
}

.item {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.checkout-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

/* LOGIN */
.auth-container {
  width: 300px;
  margin: 120px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}